.market {
  display: flex;
  gap: 52px;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.coin {
  width: 100px;
}

.name {
  font-size: 16px;
  color: #666;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.rise {
  font-size: 14px;
  color: #00ae00;
}

.fall {
  font-size: 14px;
  color: #c30101;
}
