.tradeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topSection {
  display: flex;
  flex-direction: row;
}

.tradeSection {
  padding: 10px;
  border-left: 1px solid black;
  min-width: 340px;
}
